<% if @errors %>
<ul class="errors">
  <% @errors.each do |error| %>
    <li> <%= error %> </li>
  <% end %>
</ul>
<% end %>
<form action="./new" method="post">
  <h3 class="sub-header">Add A Friend:</h3>
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" value="<%= @first_name %>" ><br />
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" value="<%= @last_name %>" ><br />
  <input type="submit" value="Submit">
</form>
<br /><br />
<a href="/friends" class="success button">Go Back to Friends List</a>
